# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml
.DS_Store

# Test virtualenvs and caches
.venv*/
.pytest_cache/
__pycache__/
*.pyc
